<div class="container">
    <div class="navbar navbar-white">
        <img src="../../../assets/Bet1.jfif" alt="BET Logo">
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Login</h1>
                    <h6>Please enter your username and password</h6>
                </div>
                <form>
                    <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
                        <div class="mb-3">
                            <label for="inputEmailAddress" class="form-label">Username</label>
                            <input formControlName="EmailAddress" type="email" class="form-control" id="inputEmailAddress">
                            <p class="error-message" style="color: red;" *ngIf="validateInput('EmailAddress')">Please enter a valid email address</p>
                        </div>
                        <div class="mb-3">
                            <label for="inputPassword" class="form-label">Password</label>
                            <input formControlName="Password" type="password" class="form-control" id="inputPassword">
                            <p class="error-message" style="color: red;" *ngIf="validateInput('Password')">Password must be at least 6 characters</p>
                        </div> 
                        <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary mb-2">Login</button>
                    </form>
                    <a style="color:#fff; margin: top 10px;" routerLink="/register">Don't have an account? Click to Register</a>
                </form>
            </div>
        </div>
    </div>
</div>