<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Login</h1>
                    <h6>Please enter your username and password</h6>
                </div>
                <form>
                    <form>
                        <div class="mb-3">
                            <label for="inputEmailAddress" class="form-label">Username</label>
                            <input type="email" class="form-control" id="inputEmailAddress">
                        </div>
                        <div class="mb-3">
                            <label for="inputPassword" class="form-label">Password</label>
                            <input type="password" class="form-control" id="inputPassword">
                        </div> 
                        <button type="submit" class="btn btn-primary mb-2">Login</button>
                    </form>
                    <a style="color:#fff; margin: top 10px;" routerLink="/register">Don't have an account? Click to Register</a>
                </form>
            </div>
        </div>
    </div>
</div>